
extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner WSO2 SAMPLE OAUTH2 APPLICATION
    div.Message
      div.Title
        h3 Making the Best
        h1 Product For Devs
      span.Details Access the WSO2 IAM Team Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in

     