<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body>

    <div class="container">
        <h3 class="my-5"><%= heading %></h3><br>
        
        <p>Hello <%= user.username %>, welcome home! <a href="/logout">logout</a></p>
    </div>

</body>
<%- include ('./partials/head') %>

</html>